@using YakShop.Mvc.Pages.Components.StockSales
@model StockSalesModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <h3>@Model.Title</h3>
</div>
<table class="table table-responsive table-bordered panel-primary">
    <thead>
    <th>Milk</th>
    <th>Skin</th>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Data.Milk</td>
            <td>@Model.Data.Skin</td>
        </tr>
    </tbody>
</table>